header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: static;
    padding: 0 5%;
    color: white;
    background-color: rgb(221, 50, 255);
}

h1{ 
    padding-top: 2vw;
    font-size: 2.5vw;
    font-family: "Borel", cursive;
    color: rgb(99, 232, 255);
}

ul {
    display: flex;
    gap: 4vw;
    list-style: none;
    font-size: 1.9vw;
    font-weight: 600;
    letter-spacing: 1.2px;
}

li:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
    color: rgb(99, 232, 255);
    transition: ease-in .25s;
}